

body {
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0%;
}
.background {
	margin: 0;
  padding: 0;
  background-color: aqua ;
  background-image: url(../img/background.jpg);
	background-position: center;
	background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  }
.btext1 {
  padding-left: 10rem;
  padding-right: 10rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 18px;
  }


.topnav {
  margin: 0px;
  overflow: hidden;
  background-color: #ffa43c;
  
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 1s;
  border-radius: 3%;
}
    .topnav a:hover {
      transition: 1s;
      background-color: #ffe033;
      color: #ffffff;
    }

    .topnav a.active {
      background-color: #ffe033;
    color: white;
    }

    #topnavsocial {
      float: right;
    }

.sec1 {
  padding-top: 15%;
  padding-bottom: 15%;
  background: radial-gradient(circle, rgb(86, 171, 250) 0%, rgb(255, 255, 255) 100%); 
  }

.btext2 {
  padding-left: 20%;
  padding-right: 30%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
.text-box {
  width: auto;
}
.btext2 img {
  float: left;
}

.sec2 {
  padding-top: 15%;
  padding-bottom: 15%;
  background: rgb(27, 94, 27);
  background: radial-gradient(circle, rgb(254, 172, 39) 0%, rgb(255, 229, 229) 100%); 
  }

.btext3 {
  padding-left: 30%;
  padding-right: 20%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

.btext3 img {
  float: right;
}

footer {
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
